<h1>Записи к барберу</h1>
<div class="bs-example" data-example-id="contextual-table">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Имя</th>
          <th>Телефон</th>
          <th>Дата посещения</th>
          <th>Мастер</th>
          <th>Цвет</th>
        </tr>
      </thead>
      <tbody>
        <% num = 0; @results.each do |row| %>
        <% num = num + 1; %>
          <tr>
            <th scope="row"><%= num %></th>
              <td><%= row['username'] %></td>
              <td><%= row['phone']    %></td>
              <td><%= row['datestamp']%></td>
              <td><%= row['barber']   %></td>
              <td style="background-color: <%= row['color'] %>"><%= row['color']    %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>